*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline:  none;
    font-family: sans-serif;
}
body{
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background-image: url(bgiwa.jpg);
background-size: cover;
}
.container{
    width: 400px;
    height: min-content;
    background-color: white;
    border-radius: 12px;
    padding: 28px;

}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
}
.search-box input{
    width: 84%;
    font-size: 20px;
    text-transform: capitalize;
    color: #000;
    border-bottom-color: #e6f5fb;
    padding: 12px 16px;
    border-radius: 14px;

}
.search-box input::placeholder{
    color: black;
    background: #ababab;
}
.search-box button{
    width: 46px;
    height: 46px;
    background-color: #e6f5fb;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;

}
.search-box button:hover{
    color: white;
    background-color: #ababab;
}
.weather-body img{
    width: 60%;
}
.weather-body{
    display: flex;
    justify-self: content;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;

}
.weather-box{
    margin-block:20px;
    text-align: center;

}
.weather-box .temperature{
    font-size: 40px;
    font-weight: 400;
    position: relative;
}
.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.location-not-found{
    margin-top: 20px;
    display: none;
    align-items: center;
    justify-self: center;
    flex-direction: column;

}
.location-not-found img{
    width: 80%;

}
